.box{
    display: flex;
    align-items: center;
    border: 2px solid black !important;
    width: 50vw;
    height: 75vh;
    margin: 20px auto;
    padding: 10px 150px;
    overflow-y: scroll;
}

.box2{
    margin: 0 auto;
    padding: 20px;
    border: 2px solid;
    width: fit-content;
    max-width: 70vw;
    overflow-wrap: break-word;
}
h1{
    text-align: center;
}
form{
    margin: 25px auto;
    width: fit-content;
}