

.box2{
    margin: 0 auto;
    padding: 20px;
    border: 2px solid;
    width: fit-content;
    max-width: 70vw;
    overflow-wrap: break-word;
}
h1{
    text-align: center;
}
form{
    margin: 25px auto;
    width: fit-content;
}